<section id="viewAllOrders">
    <div class="container" *ngIf="isEmpty">
        <h1>There are no orders.</h1>
    </div>
    <div class="container" *ngIf="!isEmpty">
        <h1>Orders</h1>
        <br>
        <span>Sort by: </span>
        <select class="selectpicker" (change)="onChange($event.target.value)">
            <option>Pending</option>
            <option>Delivered</option>
        </select>
        <br>
        <br>
        <div class="oreders" id="orders">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Order number</th>
                        <th>Date of order</th>
                        <th *ngIf="isDelivered">Date of delivery</th>
                        <th>Client</th>
                        <th>Total amount</th>
                        <th *ngIf="!isDelivered">Action</th>
                        <th *ngIf="isDelivered">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders | orderFilter: filterOrders | paginate: {itemsPerPage: 6, currentPage:page, id: '1'}">
                        <td>{{order.$key}}</td>
                        <td>{{order.dateOfOrder | date: 'medium'}}</td>
                        <td *ngIf="isDelivered">{{order.dateOfDelivery | date: 'medium'}}</td>
                        <td><a (click)="showClient(order.ownerId)" style="cursor: pointer;" data-toggle="modal" data-target="#myModal">client</a></td>
                        <td>{{order.totalPrice}} lv.</td>
                        <td *ngIf="!isDelivered"><button (click)="deliver(order)" class="btn btn-danger">Deliver</button></td>
                        <td *ngIf="isDelivered">Delivered</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="6"
                      directionLinks="true"
                      autoHide="true" 
                      style="text-align: center; cursor: pointer; font-size: 1.5em;">
                </pagination-controls>
    <app-user-modal [client]="client"></app-user-modal>
</section>
