<section id="viewMyShoppingCart">
    <div class="container" *ngIf="!isEmpty">
        <h1>You don't have any products in your shopping cart.</h1>
    </div>
    <div class="container" *ngIf="isEmpty">
        <h1>My Cart</h1>
        <div class="cart" id="myCart">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productList; let i = index">
                        <td>{{product.name}}</td>
                        <td><button (click)="decrease(i)">-</button> {{product.units}} <button (click)="increase(i)">+</button></td>
                        <td>{{product.price | number:'1.1-2'}}</td>
                        <td><button (click)="removeProduct(i)" class="btn btn-danger">Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2>Total: {{total | number:'1.1-2'}} lv.</h2>
        <button (click)="order()" class="btn btn-danger">Order now</button>
    </div>
</section>
