<div class="order-paralax-header-wrap show-for-large-up" 
    data-after-scroll="150" data-set-style-after-scroll="height:50px;top:0px;background:rgba(250,250,250,1); transform:translate(0,0px); 
            -webkit-transition: height 0.6s ease;
            -moz-transition: height 0.6s ease;
            -o-transition: height 0.6s ease;
            transition: height 0.6s ease;"
>
  <!--<div class="paralax-background show-for-large-up" data-0="transform:translate(0,0px); opacity:1;" data-80="transform:translate(0,45px)" data-150="transform:translate(0,60px); opacity:0"></div>-->
  <div class="order-header-form">
    <div class="small-12 columns text-center">
      <table id="order-header-info-table-wrapper" class="order-header-info-table-wrapper">
      <tr class="order-header-info text-center">
                <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=-2">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="https://farmhopping.com/res/img/group-recommended.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Препоръчани            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header selected" 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-22" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to js-disabled"
             href=""
                    >
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="https://farmhopping.com/res/img/defaultCategory.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Подаръци и промо пакети            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-6" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=6">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/plodove-zelenchuci-1.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Плод и Зеленчук            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-8" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=8">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/mlechni-produkti-i-yaica.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Млечни продукти и яйца            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-9" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=9">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/meso-kolbasi.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Месарница            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-15" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=15">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/riba-morski-rechni.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Рибен щанд            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-7" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=7">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/hlyab-testeni.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Пекарна            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-14" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=14">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/kuhnenski-shkaf.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              За кухненския шкаф            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-2" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=2">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/napitki.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Напитки            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-23" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=23">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/vino-delikatesi.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Вино             </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-13" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=13">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/prirodna-apteka.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Природна аптека            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                          data-dropdown="group-categories-4" data-options="is_hover:true;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=4">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/data/ufiles/images/products/grey_icon/original/zhivot-na-selo.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Живот на село            </div>
          </a>
        </td> 
                  <td class="group-category-header-wrapper js-section-header " 
                         data-after-scroll="150" data-set-style-after-scroll="vertical-align:middle;"
                         >
          <a 
             data-js-ajax-to-replace="true" 
             data-js-ajax-to-target="#products-wrapper" 
             data-js-ajax-to-filter="#products-wrapper" 
                          class="js-ajax-to" 
             href="/поръчка/sofia?groups%5B0%5D=0">
            <div class="group-category-image" data-after-scroll='150' 
                 data-set-style-after-scroll="display:none;opacity: 0;height:0;margin-bottom:0rem;">
              <img src="/res/img/novo-tazi-sedmica.png" data-after-scroll='140' 
                 data-set-style-after-scroll="
            -webkit-transition: max-height 0.6s ease;
            -moz-transition: max-height 0.6s ease;
            -o-transition: max-height 0.6s ease;
            transition: max-height 0.6s ease;" />
            </div>
            <div class="group-category-name" data-after-scroll="150" data-set-style-after-scroll="margin-top:0px;-webkit-transform: translateY(0);-ms-transform: translateY(0%);-o-transform: translateY(0%);transform: translateY(0);">
              Ново тази седмица            </div>
          </a>
        </td> 
                        </tr>
      </table>
    </div>
  </div>
</div>
