<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Stores</h1>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;">
            <div class="hovereffect">
                <img class="img-responsive" src="https://media-cdn.tripadvisor.com/media/photo-s/01/e8/c2/c2/auberge-de-la-ferme.jpg" alt="">
                    <div class="overlay">
                        <h2>Ferme of mama</h2>
                        <p class="icon-links">
                            <a href="#">
                                <span class="fa fa-twitter">T</span>
                            </a>
                            <a href="#">
                                <span class="fa fa-facebook">F</span>
                            </a>
                            <a href="#">
                                <span class="fa fa-instagram">I</span>
                            </a>
                        </p>
                    </div>
            </div>
        </div>
    </div>
</div>