<div class="container">
    <div class="row" style="margin-bottom: 10vh;">
        <div class="col-lg-12">
            <h1 class="page-header">Stores</h1>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="padding: 10px;" *ngFor="let store of stores | paginate: {itemsPerPage: 4, currentPage:page, id: '1'}">
            <div class="hovereffect">
                <img class="img-responsive" src="{{store.picture}}" alt="" style="height: 30vh;">
                    <div class="overlay">
                        <h2></h2>
                        <p class="set1">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </p>
                        <hr>
                        <hr>
                        <p class="set2">
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </p>
                    </div>
            </div>
            <h4>{{store.address}}</h4>
            <h3><a style="cursor: pointer;" data-toggle="modal" data-target="#myModal" (click)="onClick(store,lgModal)">{{store.name}}</a></h3>
            <p *ngIf="auth.isAdmin"><a class="btn btn-primary" role="button" (click)="editStore(store)">Edit</a> <a class="btn btn-danger" role="button" (click)="deleteStore(store)">Delete</a></p>
        
            <!--<app-store-modal [store]="store"></app-store-modal>-->
            <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">{{store['name']}}</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                        <p>{{store['description']}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/products/{{store.name}}">Products</button>
                        <button type="button" class="btn btn-alert" data-dismiss="modal" (click)="lgModal.hide()">Close</button>
                    </div>
                </div>
            </div>
            </div>
        </div>

        

    </div>
    <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="4"
                      directionLinks="true"
                      autoHide="true" 
                      style="text-align: center; cursor: pointer; font-size: 1.5em;">
                </pagination-controls>
</div>