<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img *ngIf="profile.photoURL" class="img-circle" style="width:100%" src="{{profile.photoURL}}">
        </div>
        <div class="col-md-10">
            <h1>{{profile.displayName}}'s profile</h1>
            <p *ngIf="profile.email">Email: {{profile.email}}</p>
        </div>    
    </div>
    <br> 
    <button class="btn btn-lg btn-primary" (click)="editProfile()">Edit your profile</button>

    <app-edit-profile [isEditable]="isEditable" (onCancel)="isEditable = $event"></app-edit-profile>
</div>
