<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title" *ngIf="profile.displayName">{{profile.displayName}}</h3>
              <h3 class="panel-title" *ngIf="profile.name">{{profile.name}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center" *ngIf="profile.photoURL"> <img alt="User Pic" src="{{profile.photoURL}}" class="img-circle img-responsive"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                    <tr *ngIf="profile.address">
                        <td>Home Address</td>
                        <td>{{profile.address}}</td>
                    </tr>
                      <tr *ngIf="profile.email">
                        <td>Email</td>
                        <td>{{profile.email}}</td>
                      </tr>
                      <tr *ngIf="profile.phone">
                        <td>Phone Number</td>
                        <td>{{profile.phone}}</td>  
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a class="btn btn-primary" (click)="editProfile()">Edit your profile</a>
                  <a class="btn btn-primary" (click)="myOrders()">My orders</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-edit-profile [isEditable]="isEditable" (onCancel)="isEditable = $event"></app-edit-profile>

      <!--<section *ngIf="isVisible">
        <div class="row">
            <h1>My orders</h1>
            <div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Date of order</th>
                            <th>Product's list</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cart of carts | paginate: {itemsPerPage: 3, currentPage:page, id: '1'}">
                            <td>{{cart.$key}}</td>
                            <td>{{cart.dateOfOrder | date: 'medium'}}</td>
                            <td><a (click)="cartProducts(cart.products, lgModal)" style="cursor: pointer;">products</a></td>
                            <td>{{cart.totalPrice | number:'1.1-2'}}</td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="close()" class="btn btn-danger">Close</button>
            </div>
        </div>
        <pagination-controls (pageChange)="page = $event" id="1"
                      maxSize="3"
                      directionLinks="true"
                      autoHide="true" 
                      style="text-align: center; cursor: pointer; font-size: 1.5em;">
                </pagination-controls>
      </section>-->

      <section *ngIf="isVisible" id="viewAllOrders">
            <div class="container" *ngIf="isEmpty">
                <h1>There are no orders.</h1>
            </div>
            <div class="container" *ngIf="!isEmpty">
                <h1>My Orders</h1>
                <br>
                <span>Sort by: </span>
                <select class="selectpicker" (change)="onChange($event.target.value)">
                    <option>Pending</option>
                    <option>Delivered</option>
                </select>
                <br>
                <br>
                <div class="oreders" id="orders">
                    <table class="table table-striped table-hover ">
                        <thead>
                            <tr>
                                <th>Order number</th>
                                <th>Date of order</th>
                                <th *ngIf="isDelivered">Date of delivery</th>
                                <th>Total amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of orders | orderFilter: filterOrders | paginate: {itemsPerPage: 6, currentPage:page, id: '1'}">
                                <td>{{order.$key}}</td>
                                <td>{{order.dateOfOrder | date: 'medium'}}</td>
                                <td *ngIf="isDelivered">{{order.dateOfDelivery | date: 'medium'}}</td>
                                <td>{{order.totalPrice}} lv.</td>
                                <td *ngIf="!isDelivered" style="color: red;">Pending</td>
                                <td *ngIf="isDelivered" style="color: green;">Delivered</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <pagination-controls (pageChange)="page = $event" id="1"
                            maxSize="6"
                            directionLinks="true"
                            autoHide="true" 
                            style="text-align: center; cursor: pointer; font-size: 1.5em;">
                        </pagination-controls>
            <app-user-modal [client]="client"></app-user-modal>
    </section>

      <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Product list</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productList">
                            <td>{{product.name}}</td>
                            <td>{{product.units}}</td>
                            <td>{{product.price}} lv.</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-alert" data-dismiss="modal" (click)="lgModal.hide()">Close</button>
                </div>
            </div>
        </div>
      </div>
</div>