<div class="top-page-wrapper" style="background-image: url('/data/ufiles/images/slider/large/domat-4.jpg'); background-repeat:no-repeat; background-position: center center;" >
  <div class="top-page-wrapper row">
    <div class="top-page-slider small-12 columns">
      <div class="top-page-content text-center">
        <h2 class="text-center  background"><h1 style="text-shadow: rgb(0, 0, 0) 1px 1px 3px; color: white; text-align: center;"><strong><span style="font-family: 'PT Sans Narrow', sans-serif; font-size: 2.75rem; font-style: normal; line-height: 1.2;">Поръчай истинска храна директно от производителите, отгледана специално за теб!</span></strong></h1>

<h6 style="text-shadow: rgb(0, 0, 0) 1px 1px 3px; color: #375824; text-align: center;">&nbsp;</h6>
</h2><br />
        <a href="#" class="top-page-button small">
          Поръчай сега!        </a>
      </div>
    </div>
  </div>
</div>
