<!-- Modal -->
<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">-->
    
        <!-- Modal content-->
        <!--<div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{store.name}}</h4>
            </div>
            <div class="modal-body">
            <p>{{store.description}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" routerLink="/products">Products</button>
                <button type="button" class="btn btn-alert" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{store['name']}}</h4>
      </div>
      <div class="modal-body">
        <div>
           <!--{{ item | json }} // not getting item details here-->
           <p>{{store['description']}}</p>
        </div>
      </div>
    </div>
  </div>
</div>