.ng-valid, .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.form-signin{
    border-left: none;
}

.alert{
    margin-bottom: 0;
}

.container {
  margin-bottom: 10px;
  width: 30vw;
}